<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
  <div class="sorting">
    <select id="country" (change)="sortBy(type.value)" class="frm-field required sect" #type>
        <option value="{{url}}?order=name" >Sort by name</option>					
        <option value="{{url}}?order=price" >Sort by price</option>
        </select>
  </div>
  <div class="sorting-left">
    <select id="country1" (change)="sortType(dir.value)" class="frm-field required sect" #dir> 
        <option value="&dir=asc" >Sort Ascending</option>
        <option value="&dir=desc">Sort Descending</option> 									
          </select>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="new-collections">
  <div class="row">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Product</h3>
    <div class="new-collections-grids">
      <div class="col-md-4 new-collections-grid" *ngFor=" let item of listProduct; let i = index ">
        <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
          <div class="new-collections-grid1-image">
            <a [routerLink]="['/detail', item.id]" class="product-image"><img src="{{item.avatar}}" alt=" " class="img-responsive" style="height: 200px" /></a>
            <div class="new-collections-grid1-image-pos">
              <a [routerLink]="['/detail', item.id]">Quick View</a>
            </div>
          </div>
          <h4><a [routerLink]="['/detail', item.id]">{{item.name}}</a></h4>
          <div class="new-collections-grid1-left simpleCart_shelfItem">
            <p><i>{{item.price | currency: "VND" }}</i> <span class="item_price">{{item.price | currency: "VND"}}</span><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="">
    <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
      <ul class="pagination paging" *ngIf=" total > 0 ">
        <li>
          <a  aria-label="Previous" [routerLink]="['/category',id]" [queryParams]="{page: page > 1 ? (page - 1) : page } ">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li [ngClass]="{'active': i == page}" *ngFor=" let i of totalpage ">
          <a [routerLink]="['/category',id]" [queryParams]="{page:i}">{{i}}</a>
        </li>
        <li>
          <a aria-label="Next" [routerLink]="['/category',id]" [queryParams]="{page: page < total ? (page + 1) : page }" >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
