  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <table class=" timetable_sub animated wow slideInUp" data-wow-delay=".5s">
          <thead>
            <tr>
              <th>No.</th>
              <th>Product</th>
              <th>Name</th>
              <th>Quality</th>
              <th>Price</th>
            </tr>
          </thead>
          <tr class="rem1" *ngFor=" let order_item of orderItems; let i=index">
            <td class="invert">{{i+1}}</td>
            <td class="invert-image">
              <a [routerLink]="['/detail', order_item.item.id]">
                <img src="{{order_item.item.avatar}}" alt=" " class="img-responsive" />
              </a>
            </td>
            <td class="invert">{{order_item.item.name}}</td>
            <td class="invert">{{order_item.quantity}}</td>
            <td class="invert">{{order_item.price}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3 checkout-left-basket animated wow slideInRight" data-wow-delay=".5s">
        <h4>Continue to basket</h4>
        <ul>
          <li *ngFor="let order_item of orderItems">{{order_item.item.name}}<span>{{order_item.price * order_item.quantity}}</span></li>
          <li class="total">Total<i>-</i><span>{{total}}</span></li>
        </ul>
      </div>
    </div>
  </div>