 <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" *ngFor="let item of listCategory">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-folder-close"></span><a [routerLink]="['/category', item.id]">{{item.name}}</a></div>
              </h4>
            </div>
            <div id="" class="panel-collapse collapse in">
              <ul class="list-group">
               <li class="list-group-item" *ngFor="let sub_item of item.child" >
                 <span class="glyphicon glyphicon-pencil text-primary"></span>
                 <a [routerLink]="['/category',sub_item.id]">{{sub_item.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div> 
 </div>
 