<div class="col-md-8 profile-info" *ngIf="user">
  <div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-user "></span>
              First Name
            </strong>
          </td>
          <td class="text-primary">
          {{user.firstname}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-user "></span>
              Last Name
            </strong>
          </td>
          <td class="text-primary">
           {{user.lastname}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-bookmark"></span>
              Gender
            </strong>
          </td>
          <td class="text-primary">
            {{user.gender}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-envelope"></span>
              Email
            </strong>
          </td>
          <td class="text-primary">
            {{user.email}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-calendar "></span>
              Birthday
            </strong>
          </td>
          <td class="text-primary">
            {{user.birthday}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-home"></span>
              Address
            </strong>
          </td>
          <td class="text-primary">
            {{user.address}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-phone "></span>
              Phone Number
            </strong>
          </td>
          <td class="text-primary">
            {{user.phone}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-shopping-cart "></span>
              Total Orders
            </strong>
          </td>
          <td class="text-primary">{{user.orders.length}}</td>
            
        </tr>
      </tbody>
    </table>
  </div>
</div>