<div class="container">
  <h2 class="title">Hello <%=@user.firstname%>, please click on the link below to reset your password</h2>
  <%=resetPassword_api_v1_reset_password_url(@user.reset_password_token)%>
</div>