.add-review {
    margin-bottom: 2em;
}
.comment {
    background-color: white;
}

.comment-line{
    margin: 1em 0;
}

.user-name {
    color: black;
    text-transform: capitalize;
}

.comment-left {
    float: left;
    width: 200px;
}

.img-responsive {
    margin: 0 auto;
}

.img-circle {
    width: 40%;
    height: 50%;
}

.content {
    word-wrap: break-word;
}

