.form-search {
  position: absolute;
  right: 25%;
  width: 15%;
  min-width: 50px;
  margin: 0;
  height: 50px;
  float: none;
  overflow: hidden;
}

.search-input {
  position: absolute;
  top: 0px;
  left: -5px;
  border: none;
  outline: none;
  background: #F5F5F5;
  width: 80%;
  height: 50px;
  margin: 0;
  z-index: 10;
  font-size: 14px;
  color: #999;
  padding-left: 1em;
  padding-right: 4em;
}

.search-submit {
  width: 50px;
  height: 50px;
  display: block;
  padding: 0;
  margin-left: 5px;
  text-align: center;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  color: #D8703F;
}

.icon-btnSearch {
  z-index: 90;
  background: #fff url(/assets/images/img-sp.png) no-repeat 7px -91px;
}

.columns-2 {
  min-width: 200px;
}

.category h6, .category li {
  margin: 10px 20px;
}

.second-nav-right {
  float: right;
  width: 20%;
}
.search-content {
  position: relative;
}
.clear-search-box {
  position: absolute;
  right: 25px;
  font-size: 20px;
  top: 5px;
}
.search-name {
  position: absolute;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  top: 50px;
  right: 0;
  background-color: white;
  list-style: none;
  padding-left: 0;
  box-shadow: 1px 0px 5px 0px #888888;
  border-radius: 10px;
}
.search-item:hover {
  background-color: rgba(222, 222, 222, 0.3);
}
.search-item {
  border-bottom: 1px solid rgba(222, 222, 222, 0.3);
  padding: 10px 0;
  width: 400px;
}
/*.infor-search {

  vertical-align: middle;
}*/
.success-active:active {
}
.image-search {
  float: left;
  margin-right: 30px;
  width: 65px;
  height: 60px;
  padding-left: 10px;
  width: 17%;
}
.name-price-search {
  width: 75%;
  float: left;
}
.search-name-product {
  color: black;
  display: block;
}
.search-price-product {
  margin-top: 10px;
  color: red;
  font-size: 17px;
}
.search-item-not-found .title-not-found {
  margin-left: 50px;
}
.clr::After {
  content: '';
  clear: both;
  display: block;
}

