<!-- banner -->
<div class="banner">
  <div class="container">
    <div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
      <h3>Free Online Shopping</h3>
      <h4>Up to <span>50% <i>Off/-</i></span></h4>
      <div class="wmuSlider example1">
        <div class="wmuSliderWrapper">
          <article style="position: absolute; width: 100%; opacity: 0;">
            <div class="banner-wrap">
              <div class="banner-info1">
                <p>T-Shirts + Formal Pants + Jewellery + Cosmetics</p>
              </div>
            </div>
          </article>
          <article style="position: absolute; width: 100%; opacity: 0;">
            <div class="banner-wrap">
              <div class="banner-info1">
                <p>Toys + Furniture + Lighting + Watches</p>
              </div>
            </div>
          </article>
          <article style="position: absolute; width: 100%; opacity: 0;">
            <div class="banner-wrap">
              <div class="banner-info1">
                <p>Tops + Books & Media + Sports</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      &lt;!&ndash;<script src="/assets/js/jquery.wmuSlider.js"></script>&ndash;&gt;
      &lt;!&ndash;<script>&ndash;&gt;
      &lt;!&ndash;$('.example1').wmuSlider();&ndash;&gt;
      &lt;!&ndash;</script>&ndash;&gt;
    </div>
  </div>
</div>
<!-- //banner -->
<app-list-item></app-list-item>
