<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Update Password</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Reset Password</h3>
    <div class="login-form-grids">
      <form ngNoForm [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)">
        <h6 class="animated wow slideInUp" data-wow-delay=".5s">ResetPassword information</h6>
        <div class="animated wow slideInUp" data-wow-delay=".5s">
          <input type="password" placeholder="New password" required=" " formControlName="password">
          <input type="password" placeholder="Confirm password" required=" " formControlName="confirm_password">
          <input type="submit" value="Save">
        </div>
      </form>
    </div>
    <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
      <a href="index.html">Home</a>
    </div>
  </div>
</div>