<div class="new-collections" *ngIf="detail">
  <div class="container">
    <div class="col-md-5 single-right-left animated wow slideInUp clearfix" data-wow-delay=".5s">
      <div class="flexslider">
        <ul class="slides">
          <li *ngFor="let item of images_items" [attr.data-thumb]="item.image">
            <div class="thumb-image"> <img src="{{item.image}}" data-imagezoom="true" class="img-responsive"> </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
      <h3>{{detail.name}}</h3>
      <table class="tabble-detail">
        <tr>
          <td><h4 class="table-title">Price</h4></td>
          <td>
            <h4>{{detail.price | currency: "VND" }}</h4>
          </td>
        </tr>
        <tr>
          <td><h4 class="table-title">Status</h4></td>
          <td>
            <h4 *ngIf = " detail.quantity !== 0">{{detail.status}}</h4>
            <h4 *ngIf = " detail.quantity === 0">Hết Hàng</h4>
          </td>
        </tr>
        <tr>
          <td><h4 class="table-title">Store</h4></td>
          <td *ngIf="detail.shop">
            <h4>
            <a [routerLink]="['/shop', detail.shop['id']]" >{{detail.shop["name"]}}</a>
            </h4>
          </td>
        </tr>
        <tr><div class="occasion-cart">
          <button class="item_add btn btn-default" style="color: #D8703F;" (click)="addItemToCart(detail)"><img src="/assets/images/bag.png" alt="" /> Add to cart </button>
        </div></tr>
      </table>
    </div>
    <div class="clearfix"> </div>
    <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
          <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews</a></li>
        </ul>
        <div id="myTabContent" class="tab-content div-description">
          <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text " id="home" aria-labelledby="home-tab">
            <!-- <h5>Product Brief Description</h5> -->
            <div [innerHTML]="detail.description"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
            <!-- Comment -->
            <app-comment></app-comment>
            <!-- /Comment -->
          </div>
        </div>
      </div>
    </div>
    <div class="relativeItem" *ngIf="relativeItem">
      <h3 class="animated wow zoomIn" data-wow-delay=".5s">RELATIVE PRODUCT</h3>
      <div class="new-collections-grids">
        <div class="col-md-3 new-collections-grid" *ngFor=" let item of relativeItem; let i = index ">
          <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s" *ngIf=" i<4 ">
            <div class="new-collections-grid1-image">
              <a [routerLink]="['/detail', item.id]" class="product-image"><img src="{{item.avatar}}" alt=" " class="img-responsive" style="height: 200px" /></a>
              <div class="new-collections-grid1-image-pos">
                <a [routerLink]="['/detail', item.id]">Quick View</a>
              </div>
            </div>
            <h4><a [routerLink]="['/detail', item.id]">{{item.name}}</a></h4>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
              <p>
                <span class="item_price">{{item.price | currency: "VND"}}</span>
              </p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!detail">
  <div class="new-collections">
    <h1 class="text-center error">Sorry, we cannot found this product!</h1>
  </div>
</div>
