<div class="new-collections">
  <div class="container">
    <div class="col-md-5 single-right-left animated wow slideInUp clearfix" data-wow-delay=".5s">
      <div class="flexslider">
        <ul class="slides">
          <li *ngFor="let item of images_items" data-thumb="">
            <div class="thumb-image"> <img src="{{item.image}}" data-imagezoom="true" class="img-responsive"> </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
      <h3>{{detail.name}}</h3>
      <h4>{{detail.price | currency: "VND" }}</h4>
      <div class="description">
        <h5><i>Description</i></h5>
        <p>{{detail.description}}</p>
      </div>
      <div class="occasion-cart">
        <a class="item_add" href="#">add to cart </a>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
          <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews(2)</a></li>
          <li role="presentation" class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Information <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
              <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">cleanse</a></li>
              <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">fanny</a></li>
            </ul>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
            <h5>Product Brief Description</h5>
            <span>{{detail.description}}</span>
          </div>
          <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
            <div class="bootstrap-tab-text-grids">
              <div class="bootstrap-tab-text-grid">
                <div class="bootstrap-tab-text-grid-left">
                  <img src="/assets/images/4.png" alt=" " class="img-responsive" />
                </div>
                <div class="bootstrap-tab-text-grid-right">
                  <ul>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a></li>
                  </ul>
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="bootstrap-tab-text-grid">
                <div class="bootstrap-tab-text-grid-left">
                  <img src="/assets/images/5.png" alt=" " class="img-responsive" />
                </div>
                <div class="bootstrap-tab-text-grid-right">
                  <ul>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a></li>
                  </ul>
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit.</p>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="add-review">
                <h4>add a review</h4>
                <form>
                  <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                  <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                  <input type="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
                  <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown1" aria-labelledby="dropdown1-tab">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
              lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
              carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred
              pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice
              blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
              tofu synth chambray yr.
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown2" aria-labelledby="dropdown2-tab">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free
              squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high
              life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral
              locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical.
              Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relativeItem">
      <h4 class="animated wow zoomIn" data-wow-delay=".5s">RELATIVE PRODUCT</h4>
      <div class="new-collections-grids">
        <div class="col-md-3 new-collections-grid" *ngFor=" let item of relativeItem; let i = index ">
          <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s" *ngIf=" i<4 ">
            <div class="new-collections-grid1-image">
              <a [routerLink]="['/detail', item.id]" class="product-image"><img src="{{item.avatar}}" alt=" " class="img-responsive" style="height: 200px" /></a>
              <div class="new-collections-grid1-image-pos">
                <a [routerLink]="['/detail', item.id]" >Quick View</a>
              </div>
            </div>
            <h4><a [routerLink]="['/detail', item.id]">{{item.name}}</a></h4>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
              <p><i>{{item.price}}</i> <span class="item_price">{{item.price}}</span></p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>