<div class="new-collections">
  <div class="container">
    <div class="row"> <h3 class="animated wow zoomIn" data-wow-delay=".5s">Product</h3>
      <div class="new-collections-grids">
        <div class="col-md-3 new-collections-grid" *ngFor=" let item of listResult; let i = index ">
          <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
            <div class="new-collections-grid1-image">
              <a [routerLink]="['/detail', item.id]" class="product-image"><img src="{{item.avatar}}" alt=" " class="img-responsive" style="height: 200px" /></a>
              <div class="new-collections-grid1-image-pos">
                <a [routerLink]="['/detail', item.id]">Quick View</a>
              </div>
            </div>
            <h4><a [routerLink]="['/detail', item.id]">{{item.name}}</a></h4>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
              <p>
                <span class="item_price">{{item.price | currency: "VND" }}</span>
                <button class="item_add btn btn-default" (click)="addItemToCart(item)">
                  <img src="/assets/images/bag.png" alt="" /> Add to cart
                </button>
              </p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
      <ul class="pagination paging" *ngIf=" total > 0 ">
        <li>
          <a  aria-label="Previous" [routerLink]="['/search']" [queryParams]="{key: key,page: page > 1 ? (page - 1) : page } ">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li [ngClass]="{'active': i == page}" *ngFor=" let i of totalpage ">
          <a [routerLink]="['/search']" [queryParams]="{key: key,page:i}">{{i}}</a>
        </li>
        <li>
          <a aria-label="Next" [routerLink]="['/search']" [queryParams]="{key: key,page: page < total ? (page + 1) : page }" >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
