<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Register Page</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="alert alert-success" *ngIf="info" >
    <strong>Success!</strong> {{info}}
  </div>
<div class="register">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
    <div class="login-form-grids">
      <form ngNoForm [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
        <h5 class="animated wow slideInUp" data-wow-delay=".5s">profile information</h5>
        <div class="animated wow slideInUp" data-wow-delay=".5s">
          <input type="text" placeholder="First Name..." required=" " formControlName="firstname">
          <input type="text" placeholder="Last Name..." required=" " formControlName="lastname">
        </div>

        <h6 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h6>
        <div class="animated wow slideInUp" data-wow-delay=".5s">
          <input type="email" placeholder="Email Address" required=" " formControlName="email">
          <input type="password" placeholder="Password" required=" " formControlName="password">
          <input type="password" placeholder="Password Confirmation" required=" " formControlName="password_confirm">
          {{registerForm.controls.password_confirm.error?.MatchPassword}}
          <div class="alert alert-danger" *ngIf="registerForm.controls.password_confirm.error?.MatchPassword">Password not match</div>
          <div class="register-check-box">
            <div class="check">
              <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
            </div>
          </div>
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
    <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
      <a href="index.html">Home</a>
    </div>
  </div>
</div>
